<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/assets/logo-illustration.png">
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body>
    <div id="sidebar" class="sidebar">
        <div>
            <img src="../static/assets/Logo-white.png" alt="">
        </div>
        <div id="sidebar-btn" class="sidebar-btn">
            <h3>TOOLS</h3>
            <ul>
                <li><a href="{{ url_for('home.home_page') }}">Home</a></li>
                <li><a href="{{ url_for('library.library_page')}}">Library</a></li>
                <li><a href="#">Search</a></li>
            </ul>
            <ul id="acc-tools" class="acc-tools">
                <li><a href="#">Settings</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    <div id="main-content" class="main-content">
        <!-- this will be to container for the pages -->
        {% block content%}
        
        {% endblock%}
    </div>
</body>
</html>