{% extends 'layout/dashboard.html'%}

{% block title %}Home{% endblock %}

{% block content%}
    <div id="main-container" class="main-container">
        <h1>Quick Start</h1>
        <div id="card-container" class="card-container">
            <div class="card">
                <img class="home-button" src="../static/assets/Create.png" alt=""><a href="{{ url_for('upload.upload_page')}}"><h3>Generate Exam</h3></a>
            </div>
            <div class="card1">
                <img class="home-button" src="../static/assets/Magic.png" alt=""><a href="{{ url_for('key_upload.key_upload_page')}}"><h3>Key Notes</h3></a>
            </div>
        </div>
    </div>
    <h1>Continue</h1>
    <div class="continue-card-container">
        {% for set in question_sets %}
        <div class="continue-card" data-set-id="{{ set.id }}">
            <h3>{{ set.title }}</h3>
        </div>
        {% endfor %}
        
        <!-- <div class="continue-card">
            <h3>Exam 1</h3>
        </div>
        <div class="continue-card">
            <h3>Exam 2</h3>
        </div>
        <div class="continue-card">
            <h3>Exam 3</h3>
        </div> -->
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const cards = document.querySelectorAll('.continue-card');
            
            cards.forEach(function(card) {
                card.addEventListener('click', function() {
                    const setId = card.getAttribute('data-set-id');
                    window.location.href = `/library/${setId}`;
                });
            });
        });        
    </script>
{% endblock %}
