<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
        <link rel="icon" type="image/x-icon" href="../static/assets/logo-illustration.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back" />
        <title>Generated Keynotes</title>
    </head>
    <body>
        <div class="upload-container">
            <a class="back-btn" href="{{ url_for('key_preview.key_preview_page')}}"><span class="material-symbols-outlined">arrow_back</span></a>
            <h1>Select Pages</h1>
            <div class="preview-container-setting">
                <div class="filename-container"><strong>File Name:</strong> {{ filename }}</div>
                <div class="savefile-container">
                    <h3>Save to:</h3>
                    <h5>New file</h5>
                    <button>Append</button>
                </div>
                <div>
                    <h3>Export to:</h3>
                    <div class="export-btn-container">
                        <a class="export-btn" href="{{ url_for('key_export.export_keynotes_pdf') }}">PDF</a>
                        <a class="export-btn" href="{{ url_for('key_export.export_keynotes_docx') }}">Word</a>
                    </div>
                </div>
            </div>
        </div>  
        <div class="page-thumbnail-container">
            {% if generated_keynotes %}
                <div class="keynotes-container">
                    <h2 class="h4 text-primary">Generated Keynotes:</h2>
                    <div class="keynote-card">
                        {{ generated_keynotes | safe }}
                    </div>
                </div>
            {% else %}
                <p class="text-center text-muted">No keynotes generated.</p>
            {% endif %}
        </div>
    </body>
</html>
