{% extends 'layout/dashboard.html'%}

{% block title %}Home{% endblock %}

{% block content%}
<div class="my-library-container">
    <h1>My Library</h1>
    <div class="btn-container">
        <a class="btn" href="#">Generate Exam</a>
        <a class="btn" href="#">Generate Keynotes</a>
    </div>
</div>

    <div class="continue-card-container">

        {% for set in question_sets %}
        <div class="continue-card" data-set-id="{{ set.id }}">
            <h3>{{ set.title }}</h3>
        </div>
        {% endfor %}

        <!-- <div class="continue-card">
            <h3>Exam 2</h3>
        </div>
        <div class="continue-card">
            <h3>Exam 3</h3>
        </div>
        <div class="continue-card">
            <h3>Exam 4</h3>
        </div> -->
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const cards = document.querySelectorAll('.continue-card');
            
            cards.forEach(function(card) {
                card.addEventListener('click', function() {
                    const setId = card.getAttribute('data-set-id');
                    window.location.href = `/library/${setId}`;
                });
            });
        });        
    </script>

{% endblock %}
