<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
        <link rel="icon" type="image/x-icon" href="../static/assets/logo-illustration.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back" />
        <title>Upload</title>
    </head>
    <body>
        <div class="upload-container">
            <a class="back-btn" href="{{ url_for('preview.preview_page')}}"><span class="material-symbols-outlined">arrow_back</span></a>
            <h1>Publish</h1>
            <div class="preview-container-setting publish">
                <div class="savefile-container">
                    <label for="title">Save to a New File</label>
                    <input type="text" id="title" name="title" class="filename-container" value="{{ filename }}">
                    <button class="save-btn" type="button" onclick="saveSet()">Save</button>
                </div>
                <div class="appendfile-container">
                    <label for="sets">Add to Existing File</label>
                    <select name="sets" id="sets">
                        {% for set in sets_data %}
                            <option value="{{ set.id }}"> {{ set.title }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" onclick="appendSet()">Append</button>
                </div>
                <div>
                    <h3>Export to:</h3>
                    <div class="export-btn-container">
                        <a class="export-btn" href="{{ url_for('export.export_pdf') }}">PDF</a>
                        <a class="export-btn" href="{{ url_for('export.export_docx') }}">Word</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-thumbnail-container">
            {% if generated_questions %}
            {% for question_set in generated_questions %}
                <div class="mb-4">
                    <h2 class="h4 text-primary">{{ question_set.type }} Questions:</h2>
                    
                    <!-- Loop through individual questions in the question set -->
                    {% for question in question_set.questions %}
                        <div class="question-card">
                            <div class="question-answer">
                                <div class="quill-container" id="question-answer-{{ loop.index }}">
                                    <h4><strong>Question {{ loop.index }}:</strong> {{ question.question }}</h4>
                                    <ul>
                                        {% for letter, option in question.options.items() %}
                                            <li style="list-style-type: none; font-size: 1rem;"><span>{{ letter }} ) {{ option }}</span></li>
                                        {% endfor %}
                                    </ul>
                                    <p><strong>Answer:</strong> {{ question.answer }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <a class="library-btn" href="{{ url_for('library.library_page')}}">Go to Library</a>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center text-muted">No questions generated.</p>
        {% endif %}
        </div>
    </body>

    <script>
        function saveSet() {
            const title = document.getElementById('title').value; 

            fetch( `/question/save`, {
                method: 'POST',
                body: JSON.stringify({ title: title })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
        }

        function appendSet() {
            const setId = document.getElementById('sets').value; 
            console.log('Selected ID:', setId);

            fetch( `/question/append`, {
                method: 'POST',
                body: JSON.stringify({ setId: setId })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
        }
    </script>
</html>